<div style = "text-align:center"> 
  <h1> {{ title | uppercase }}! </h1> 
</div>
<div style = "text-align:center"> 
  <h1 appChangeText> {{ title | lowercase }}! </h1> 
</div>

<div> Months : 
  <select (change) = "changemonths($event)"> 
     <option *ngFor = "let i of months">{{i}}</option> 
  </select> 
</div> 
<br/>

<div> 
  <span *ngIf = "isavailable; else condition2">Condition is valid</span>
  <ng-template #condition2>Condition is invalid from template</ng-template>
</div>

<button (click) = "myClickFunction($event)">
  Click Me
</button>

<app-new-cmp></app-new-cmp>
<hr/>
<app-pipe-test></app-pipe-test>
<nav> 
  <a routerLink = "/home">Home</a> 
  <a routerLink = "/contactus">Contact Us </a> 
</nav> 
<router-outlet></router-outlet>